
@{
    ViewBag.Title = "Customer";
}
<h3>@ViewBag.Message</h3>
<h2>Customer</h2>

<address>
    <strong>Nimi:</strong> Felix Wahlsberg<br />
    <strong>Osoite:</strong>Hevosenkenkä 2, 06100 Porvoo<br />
    <strong>Puh.:</strong> 050-14680288<br />
</address>

